.player-info {

    border: $border;
    margin: $main-margin * 2;


    @include mq(mobileXMedium) {
        display: grid;
        grid-column: 1fr;
        grid-row: 1fr 1fr 1fr;
    }

    @include mq(mobileLarge) {
        margin-top: calc(10px + 31px + 10px);
    }

    &__round {
        padding: $main-padding 0;
        font-size: $headings-fz;
        font-weight: $font-weight-headings;
        text-align: center;

        @include mq(mobileXMedium) {
            font-size: $headings-fz + 5;
        }
    }

    &__player {
        padding: 0 0 $main-padding * 2 $main-padding;
        font-size: $main-fz + 2;

        @include mq(mobileXMedium) {
            padding-left: $main-padding * 3;
            font-size: $main-fz + 5;
        }
    }

    &__throws {
        display: flex;
        align-items: center;
        padding: 0 0 $main-padding * 2 $main-padding;

        @include mq(mobileXMedium) {
            padding-left: $main-padding * 3;
        }

        &-title {
            font-size: $main-fz + 2;

            @include mq(mobileXMedium) {
                font-size: $main-fz + 5;
            }
        }
    }

    &__throw {
        display: inline-block;
        margin-left: $main-margin;
        width: 25px;
        height: 25px;
        border: 2px solid $black-color;
        border-radius: 50%;
        background-color: $throws-bgc-color;
    }

    &__dice-throw {
        display: block;
        margin: $main-margin * 2 auto;
        padding: $main-padding * 1.5 $main-padding * 3;
        border-width: 2px;
        border-radius: 10px;
        font-size: $main-fz + 5;
    }

    &__no-throws-info {
        margin: $main-margin * 2 0;
        padding: $main-padding * 1.5 $main-padding * 2;
        width: 100%;
        font-size: $main-fz + 5 + 4;
        font-weight: bold;
        text-align: center;
    }

    &__main-player-info,
    &__dice-throw,
    &__round {
        @include mq(mobileXMedium) {
            align-self: center;
        }
    }
}